# Sanity
PUBLIC_SANITY_PROJECT_ID="your_project_id"
PUBLIC_SANITY_DATASET="production"
SANITY_API_READ_TOKEN="your_read_token"

# Visual Editing (optional)
PUBLIC_SANITY_VISUAL_EDITING_ENABLED="false"

# Chromatic
CHROMATIC_PROJECT_TOKEN="your_chromatic_token"
