---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Accueil" lang="fr">
  <main>
    <h1>Les Balcons</h1>
    <p>Auberge & Bistro culturel — Baie-Saint-Paul, Charlevoix</p>
  </main>
</BaseLayout>
